{% assign citekey = page.citekey %}
{% assign work = site.data.produtos.references | where: "id", citekey %}
{% assign work = work[0] %}
{% if work.DOI %}
  {% assign URI=work.DOI | prepend: 'https://doi.org/' %}
{% elsif work.URL %}
  {% assign URI=work.URL %}
{% endif %}

<ul class="toc__menu">
  {%- if URI -%}
  <li><a href="{{ URI }}">Link para a publicação</a>
    <ul>
    {%- if work.DOI -%}
      <li>
        DOI: <a href="{{ URI }}">{{ work.DOI }}</a>
      </li>
    {%- endif -%}
    </ul>
  </li>
  {%- endif -%}
  <li><a href="#">Como citar</a>
    <ul>
    </ul>
  </li>
</ul>
