---
title : "Notícias do projeto"
layout: "layouts/archive.njk"
author_profile: false
sidebar:
  nav: "mapa"
eleventyExcludeFromCollections: true
pagination:
  data: collections.post
  reverse: true
  size: 10
  alias: posts
---

<div class="col-lg-12">
{%- block featured -%}
{%- set destaque = collections.destaque -%}
{%- if (destaque.length == 1) %}
<div class="col-lg-8">
{%- endif -%}
{%- for post in destaque -%}
{% include "partials/featured.njk" %}
{%- endfor -%}
{%- if (destaque.length == 1) %}
</div>
{%- endif -%}
{%- endblock -%}
</div>
