{% for a in album %}
<div class="col">
  <div class="card mb-3 h-100">
    <div class="row g-0">
      <div class="col-md-4">
        <img class="img-fluid rounded-start" src="{{ a.teaser }}" />
      </div><!--/div containing img-->
      <div class="col-md-8">
        <div class="card-body fs-6">
          <h3 class="card-title fs-5">
            <a class="stretched-link text-decoration-none link-body-emphasis" href="{{ a.url }}" >{{ a.title }}</a>
          </h3>
          <p class="card-text">{{ a.description | safe }}</p>
        </div><!--/.card-body-->
        <div class="card-footer">
          <small class="text-body-secondary">
            Publicado em: {{ a.date | dateFilter }}
          </small>
        </div><!--/.card-footer-->
      </div><!--/.col-md-8-->
    </div><!--/.row g-0-->
  </div><!--/.card-->
</div><!--/.col-->
{% endfor %}
