{% assign entries = site[include.collection] %}

{% if include.sort_by %}
  {% assign entries = entries | sort: include.sort_by %}
{% endif %}

{% if include.sort_order == 'reverse' %}
  {% assign entries = entries | reverse %}
{% endif %}

{%- for post in entries -%}
  {%- assign post_date = post.date | date: "%s" -%}
  {%- assign entries_start = include.entries_start | date: "%s" -%}
  {%- assign entries_end = include.entries_end | date: "%s" -%}
  {%- unless post.hidden or post_date < entries_start or post_date > entries_end -%}
    {% include archive-single.html %}
  {%- endunless -%}
{%- endfor -%}
