{% assign citekey = page.citekey %}
{% assign work = site.data.produtos.references | where: "id", citekey %}
{% assign work = work[0] %}
{% if work.DOI %}
  {% assign URI=work.DOI | prepend: 'https://doi.org/' %}
{% elsif work.URL %}
  {% assign URI=work.URL %}
{% elsif page.catalog %}
  {% assign URI=page.catalog %}
{% endif %}

<ul class="toc__menu">
  {% if page.header.teaser %}
  <li>
    <a href="{{ URI }}">
      <img src="{{ page.header.teaser }}" alt="{{ page.header.caption | default: 'miniatura da publicação' }}" />
    </a>
  </li>
{% endif %}
  {% if URI %}
  <li><a href="{{ URI }}">Link para a publicação</a>
    <ul>
    {%- if work.DOI -%}
      <li>
        <a href="{{ URI }}">DOI: {{ work.DOI }}</a>
      </li>
    {%- endif -%}
    </ul>
  </li>
  {% endif %}
</ul>
