{% for a in album %}
{%- if a.issued -%}
  {%- if a.issued[0].month and a.issued[0].day -%}
    {%- set datePublished = [ a.issued[0].year, "-", a.issued[0].month, "-", a.issued[0].day ] | join -%}
  {%- endif -%}
{%- endif -%}
{%- set slug = a.id | replace(":", "-") -%}
{%- set teaser = [ "/assets/media/teaser/biblio-", slug, ".jpg" ] | join -%}
<div class="col">
  <div class="card mb-3 h-100">
    <div class="row g-0">
      <div class="card-header fs-6 capitalize-first justify-content-around">
        <small class="text-body-secondary">
          {{ ui_text[lang].type[a.type] }}
        </small>
        <small class="float-end text-body-secondary">
          {{ a.issued[0].year }}
        </small>
      </div>
      <div class="col-md-4">
        <img class="img-fluid object-fit-contain" src="{{ teaser }}" />
      </div><!--/div containing img-->
      <div class="col-md-8">
        <div class="card-body fs-6">
          <h3 class="card-title fs-5">
            <a class="stretched-link text-decoration-none link-body-emphasis" href="{{ a.url }}" >{{ a.title | safe }}</a>
          </h3>
        </div><!--/.card-body-->
      </div><!--/.col-md-8-->
    </div><!--/.row g-0-->
  </div><!--/.card-->
</div><!--/.col-->
{% endfor %}
